@import "tailwindcss";

:root {
  --background: #f7f9fc;
  --foreground: #071b3a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--background);
  color: #071b3a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  color: #000 !important;
}

a {
  text-decoration: none;
}

::selection {
  background: #1877d2;
  color: white;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.45s ease;
}

.page-transition {
  animation: fadeUp 0.4s ease;
}